/* Select everything on the page, set box-sizing to "border-box" in order to include the padding and border in an element's total width and height, set padding & margin.  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* set background color in body */
body {
    background-color: #d9dcd6;
}
/* style header section */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.seo {
    color: #d9dcd6;
}
/* style navigation links */
.header h1 {
    /* position the navigation links in line next to each other */
    display: inline-block;
    font-size: 48px;
}

.header nav {
    /* add padding to the top and margin to the right, position on the right side of the page, remove list styling in order to remove bullet points */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

.header nav ul li {
    /* position the list items next to each other in line while still respecing padding and margin */
    display: inline-block;
    margin-left: 25px;
}

a {
    /* change color of link elements */
    color: #ffffff;
    text-decoration: none;
}
/* link and style the header image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* style main content */
.content {
    /* set width to 75% of it's parent element, use inline-block to position content in line while still respecting padding and margin & still being able to set width and height. */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content img {
    /* keep image size uniform */
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    /* insert image to the left of text without overlapping */
    float: left;
    margin-right: 25px;
}

.float-right {
    /* insert image to the right of text without overlapping */
    float: right;
    margin-left: 25px;
}

p {
    /* set font size */
    font-size: 16px;
}
/* style sidebar */
.benefits {
    /* float sidebar to the right of main content, add padding & margin, use "clear" to keep elements from being able to float around it */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits section h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    /* set display to "block" in order to make sure they all appear on new lines, while still being able to set their height and width and respecting their padding and margin, set max width to maintain uniformity */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* style footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
